*{
	margin:0;
	padding:0;
}
div{
	width:150px;
	height:100px;
	background:red;
	float:left;
	border:2px solid skyblue;
	margin:20px;
}
.div1{
	overflow:visible;
}
.div2{
	overflow:hidden;
}
.div2:hover,.div3:hover{
	overflow:visible;
}
.div3{
	overflow:scroll;
}
.div4{
	overflow:auto;
}
body{
	overflow:auto;
}
.div5{
	overflow: inherit;
}
.div6{
	overflow-y:hidden;
	white-space: nowrap;
}